.s-details {
  padding: 2em 0;
  background: $white;
  color: $grey;

  h1 {
    font-size: 1em;
  }

  p  {
    line-height: 1.25;
  }

  .s-details--column {
    max-width: 40em;
    margin: 3em auto 0 auto;
    &:first-child { margin-top: 0; }
  }

  .s-details--icon {
    margin: 0 auto 0.5em auto;
    max-width: 7.5em;
    img { width: 100%; }
  }

  @include media-ie($breakpoint-ipad) {

    .s-details--column {
      @include span-columns(4);
      max-width: none;
      margin-top: 0;
    }

  }  // @include media-ie($breakpoint-ipad)

} //.s-details
