.s-details {
  background: $white;
  color: $grey;
  padding: 2em 0;

  .details-column {
    margin: 3em auto 0 auto;
    max-width: 40em;

    &:first-child {
      margin-top: 0;
    }

    .column-icon {
      margin: 0 auto 0.5em auto;
      max-width: 7.5em;

      img {
        width: 100%;
      }

    } // .details-icon

    h1 {
      font-size: 1em;
    }

    p  {
      line-height: 1.25;
    }

  } // .details-column

  @include media-ie($breakpoint-ipad) {

    .details-column {
      max-width: none;
      margin: 0 auto;
      @include span-columns(4);
    }

  }  // @include media-ie($breakpoint-ipad)

} //.s-details
