.s-intro {
  padding: 2em 0;
  background: $orange image-url("bg.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  overflow-y: hidden;
  background-size: cover;
  color: $white;

  @include media-ie {
    background-image: none;
    > * { position: relative; }
  }

  .ie-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: -25%;
    width: 150%;

    img {
      width: 100%;
      margin-left: 0;
    }

  } // .ie-bg

  .s-intro--logo {
    max-width: 15em;
    margin: 0 auto;
    img { width: 100% }
  }

  h1 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    line-height: 1.25;
  }

  h2 {
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
  }

  .s-intro--callout {
    margin: 0 auto;
    max-width: 40em;
  }

  .s-intro--phone {
    max-width: 10em;
    margin: 0 auto;
    img { width: 100%; }
  }

  .s-intro--download {
    max-width: 10em;
    margin: 0 auto;
    img { width: 100%; }
  }

  @include media-ie($breakpoint-ipad) {
    padding-bottom: 0;

    .s-intro--logo {
      max-width: 20em;
    }

    .s-intro--tagline {
      font-size: 1.25em;
    }

    h1 {
      font-size: 2em;
    }

    p {
      font-size: 1.25em;
    }

    .s-intro--callout {
      max-width: none;
    }

    .s-intro--phone {
      max-width: none;
      @include span-columns(6);
    }

    .s-intro--lead-in {
      padding: 10em 0;
      max-width: none;
      @include span-columns(6);
      @include omega;
    }

    .s-intro--download {
      max-width: 15em;
    }

  } // @include media-ie($breakpoint-ipad)

} // .s-intro
